In [1]:
# 1) What is 3 to the power of 5?
# Code cell 1
3**5

243

In [ ]:
# 2) Create a variable, s, containing the string "This course is amazing!". Using the variable, split the string into a list.
# Code cell 2
s = "This course is amazing!"
s.split()

['This', 'course', 'is', 'amazing!']

In [ ]:
# 3) Given the variables height and mountain, use .format() to print the following string: `The height of Mt. Everest is 8848 meters.`
# Code cell 3
mountain = "Mt. Everest"
height = 8848
print("The height of {} is {} meters".format( mountain , height ))

The height of Mt. Everest is 8848 meters

In [ ]:
# 4) Given the following nested list, use indexing to grab the word "this".
# Code cell 4
lst = ['a','b',[4,10,11],['c',[1,66,['this']],2,111],'e',7]
lst[3][1][2][0]

'this'

In [ ]:
# 5) Given the following nested dictionary, grab the word "that". This exercise is a little more difficult
# Code cell 5
d = {'k1':['val1','val2','val3',{'we':['need','to','go',{'deeper':[1,2,3,'that']}]}]}
d["k1"][3]["we"][3]["deeper"][3]

'that'

In [ ]:
# 6) What is the main difference between a tuple and a list?
# 1. perdebadaan pada tanda kurung yang digunakan
# 2. tipe data tuple bersifat immutable yang berarti elemen pada tipe data tuple tidak dapat diubah setelah proses 
#    pendeklarasiannya. Pada tuple, kita juga bisa menuliskan data yang duplikat sedangakan list ditulis secara berurutan 
#    dimana bisa berisi lebih dari satu tipe data, serta dapat diubah (mutable) dan memungkinkan adanya data duplikat.

In [ ]:
# 7) Create a function, GetDomain(), that grabs the email website domain from a string in the form: user@domain.com. 
# So for example, passing "user@domain.com" would return: domain.com

# Code cell 6
def GetDomain(txt):
   return txt.split('@')[-1]
GetDomain('user@domain.com')

'domain.com'

In [ ]:
# 8) Create a basic function, findInternet(), that returns True if the word 'Internet' is contained in the input string. 
# Don't worry about edge cases like punctuation being attached to the word, but account for capitalization. (Hint: Please 
# see https://docs.python.org/2/reference/expressions.html#in)

# Code cell 7
def findInternet(txt):
    return 'internet' in txt.lower().split()
findInternet('The Internet Engineering Task Force was created in 1986')

True

In [ ]:
# 9) Create a function, countIoT(), that counts the number of times the word "IoT" occurs in a string. Ignore edge 
# cases but take into account capitalization.

# Code cell 8
def countIoT(st):
    count = 0
    for word in st.lower().split():
      if word == 'iot' :
        count += 1

    return count

countIoT('I don\'t know how to spell IoT ! Is it IoT or iot ? What does iot mean anyway?')

4

In [ ]:
# 10) Use lambda expressions and the filter() function to filter out words from a list that do not start with the letter 'd'. For example:
# seq = ['data','salt' ,'dairy','cat', 'dog']
# should be filtered down to:
# ['data', 'dairy', 'dog']

# Code cell 9
seq = ['data','salt' ,'dairy','cat', 'dog']
list(filter(lambda word: word[0]== 'd', seq))

['data', 'dairy', 'dog']

In [ ]:
# 11) Use lambda expressions and the map() function to convert a list of words to upper case. For example:
# seq = ['data','salt' ,'dairy','cat', 'dog']
# should become:
# ['DATA', 'SALT', 'DAIRY', 'CAT', 'DOG']

# Code cell 10
seq = list(map(lambda word: word.upper(), seq))
print (seq)

['DATA', 'SALT', 'DAIRY', 'CAT', 'DOG']

In [ ]:
# 12) Imagine a smart thermostat that is connected to the door, so that it can detect, in addition to the 
# temperature, when people enter or leave the house

# Code cell 11
def smart_thermostat(temp, people_in):
    command = "Do nothing"
    if people_in and temp < 20:
      command = "Heating on"
    if temp >= 23 or not (people_in):
       command = "Heating off"
          
    return command

In [ ]:
smart_thermostat(19,True)

'Heating on'

In [ ]:
# Code cell 12
# Verify smart_thermostat()
smart_thermostat(21,True)

'Do nothing'

In [ ]:
# Code cell 13
# Verify smart_thermostat()
smart_thermostat(23,True)

'Heating off'

In [ ]:
# 13) The function zip(list1, list2) returns a list of tuples, where the i-th tuple contains the i-th element from each of the 
# argument lists. Use the zip function to create the following list of tuples:
# zipped = [('Parking', -1), ('Shops',0), ('Food Court',1), ('Offices',2)]

# Code cell 14
floor_types = ['Parking', 'Shops', 'Food Court', 'Offices']
floor_numbers = range(-1,3)
zipped = list(zip(floor_types,floor_numbers)) 
print(zipped)

[('Parking', -1), ('Shops', 0), ('Food Court', 1), ('Offices', 2)]

In [ ]:
# 14) Use the zip function and dict() to create a dictionary, elevator_dict, where the keys are the floor types 
# and the values are the corresponding floor number so that:

# Code cell 15
floor_types = ['Parking', 'Shops', 'Food Court', 'Offices']
floors_numbers = range(-1,3)
elevator_dict = dict(zip(floor_numbers,floor_types))
print(elevator_dict)

{-1: 'Parking', 0: 'Shops', 1: 'Food Court', 2: 'Offices'}

In [ ]:
# Code cell 16
# Verify elevator_dict[-1]
elevator_dict[-1]

'Parking'

In [ ]:
# 15) Create an Elevator class. The constructor accepts the list of strings floor_types and the list of integers 
# floor_numbers. The class implemets the methods 'ask_which_floor' and 'go_to_floor'. The output of this methods should look as follows:

# Code cell 17
class Elevator:
    
    def __init__(self, floor_numbers, floor_types):
        self._floor_numbers = floor_numbers
        self._floor_types = floor_types
        self._number_to_type_dict = dict(zip(floor_numbers, floor_types)) 
        self._type_to_number_dict = dict(zip(floor_types, floor_numbers)) 
        
    def ask_which_floor(self, floor_type):    
        if floor_type in self._floor_types:
            print('The {} floor is the number: {}.'.format(floor_type, self._type_to_number_dict[floor_type]))
        else:
            print('There is no {} floor in this building.'.format(floor_type))
    
    def go_to_floor(self, floor_number):

        if floor_number in self._floor_numbers:
            print('going to {} floor '.format(self._number_to_type_dict [floor_number]))
        else:
            print('There is no  floor number in {} this building.'.format(floor_number))

In [ ]:
# Verify code cell 18
el = Elevator(floor_numbers, floor_types)
el.go_to_floor(1)

going to Food Court floor

In [ ]:
# Verify code cell 19
el.go_to_floor(-2)

There is no  floor number in -2 this building.

In [ ]:
# Verify code cell 20
el.ask_which_floor('Offices')

The Offices floor is the number: 2.

In [ ]:
# Verify code cell 21
el.ask_which_floor('Swimming Pool')

There is no Swimming Pool floor in this building.